<kendo-grid [data]="gridData.data"  [pageSize]="pageSize" [skip]="skip">
  <kendo-grid-column field="tableNumber" title="Table No."></kendo-grid-column>
  <kendo-grid-column field="location" title="Location"></kendo-grid-column>
  <kendo-grid-column field="seatingCapacity" title="Seats"></kendo-grid-column>
  <kendo-grid-column title="Action">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button kendoButton (click)="reserveTable(dataItem)">Reserve</button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
